<!DOCTYPE html>
<html lang="en">
    
    {% include head.html %}
    
    <body>
        <div class="container">
            
            {% include header.html %}
            
            {{ content }}
            
            {% include footer.html %}

            <!-- Post comments -->
            <div class="notecomments">
                {% include disqus.html %}    
            </div>
        
        </div> <!-- /container -->
    
    
        {% include scripts.html %}
    
    </body>

</html>
